# https://www.freedesktop.org/software/systemd/man/systemd.syntax.html#Quoting
# > ...double quotes ("…") and single quotes ('…') may be used to wrap a whole item...
#
# Keep the quotes.
#
# > ...any backslashes should be doubled.
#
# Keep the double backslashes.
[Section A]
OptionOne="value 1"
OptionTwo='value 2'
OptionThree=value 3
OptionFour="value with \\ backslash"
