---
fail_fast: true

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: "v0.47.0"
    hooks:
      - id: markdownlint-fix

  - repo: local
    hooks:
      # use system ruff as it should be installed for the IDE integration anyway
      - id: ruff-check
        name: ruff-check
        entry: ruff check
        args: ["--force-exclude", "--fix"]
        language: system
        types_or: [python, pyi]

      - id: ruff-format
        name: ruff-format
        entry: ruff format
        args: ["--force-exclude"]
        language: system
        types_or: [python, pyi]

      # use system mypy as type checking requires dependencies to be installed anyway
      - id: mypy
        name: mypy
        entry: mypy
        args: ["--install-types", "--non-interactive", "--scripts-are-modules"]
        language: system
        types_or: [python, pyi]
