# these dependencies are also used as distribution requirements (`install_requires`)
# so be extra careful to list __as broad version requirements as possible__ in here
# if planning to distribute the project through PyPI / `pip`
#
# the oldest valid versions are also tested by the CI so make sure you choose carefully
# e.g. use `requests>2` instead of `requests` if you don't want to get `requests==0.2.0`
# from 2011.
typing_extensions>=4.5,<5
click>=8,<8.1.4
    # 8.1.4 breaks `mypy` type checks: https://github.com/pallets/click/issues/2558
importlib-metadata>=3.6.0,<4.3
    # lower bound from `keyring`, `flake8` doesn't accept any newer one... both from dev
