-r requirements.in
-c requirements.txt
build
hatch
packaging
pip
pre-commit
virtualenv==20.16.2  # used by `pre-commit`, later versions cause version clash when installing `importlib-metadata`

# testing
pytest
pytest-cov
pytest-mock
pytest-randomly

# linting
ruff

# type checking
mypy
