[Unit]
Description=Mount unit for slack, revision 64
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/slack_64.snap
Where=/snap/slack/64
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
